#root {
  min-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow: auto;
}

.options-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  border: 2px solid chocolate;
  border-radius: 5px;
  padding: 20px;
}
