.computation_container {
    background-color: #adfc03;
    border-radius:10px;

    &_drop {
        border: 1px dashed #e8e8e8;
        padding: 16px;
        text-align: center;
        width: 300px;
        height: 300px
    }
}