.selection_container {

  &_operations {
    display: flex;
    flex-direction: row;
    align-items: center;

    &_clear {
      color: green;
    }
  }

  &_options {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(100px,180px));
  }

  &_footer{
    height: 15px;
  }
}