.computation_panel {
  background: #ffffff;
  overflow: scroll;

  &_header{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-bottom:10px;
  }

  &_content {
    border-radius:10px;
    background-color: #BDFCC966;
    min-width: 600px;
    max-width: 600px;
    max-height: 700px;
    min-height: 500px;
    padding: 15px;
    overflow: scroll;
  }
}