.computation_group {
    background: #ffffff;
    min-width: 600px;
    min-height: 600px;
    margin-left: 15px;
    margin-right: 15px;

    &_header{
        display: flex;
        flex-direction: row;
        font-weight: bold;
        margin-bottom:10px;
    }

    &_content {
        border-radius:10px;
        background-color: #BDFCC966;
        min-width: 600px;
        min-height: 500px;
    }
}