.computation_card {
  background: white;
  min-width: 400px;
  border: 0.5px solid #CCCCCC;
  border-radius:10px 10px 2px 2px;
  margin-bottom: 15px;
  margin-top: 15px;
  max-height: 600px;
  overflow: auto;


  &_header {
    border-radius: 10px 10px 2px 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 5px 10px 15px;
    background: #f9f9f9;

    &_title {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-left: 20px;

      &_options {
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &_operations {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 10px;

      &_collapse {
        margin-right: 10px;
      }

      &_close {
        margin-left: 10px;
      }
    }

  }

  &_directory{
    margin-left: 20px;
    padding-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

}


